article {
  display: flex;
  flex-direction: column;
  border: 2px solid #545149;
  margin: 0.25rem 0 0.5rem 0;
  border-radius: 0.75rem;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
article:hover {
  box-shadow: 3px 3px #545149;
}
article header {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
}
article section {
  border-bottom: 2px solid #545149;
  padding: 0 0.5rem 0 0.5rem;
}
article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0 0.5rem;
}
svg {
  height: 1rem;
  fill: #4056A1;
}
svg:hover {
  fill: #677ab6;
}