.create-tweet {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 95%;
  margin: 0.5rem 0 0.5rem 0;
}
.create-tweet > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-tweet > form > div {
  display:flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0 0 0;
}
#post-new-tweet {
  background: none;
  border: none;
  font-family: 'Bungee', sans-serif;
  font-weight: 600;
  background-color: #4056A1;
  color: #FFF;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
}
#tweet-text {
  background: none;
  border: none;
  width: 100%;
  border-bottom: 2px solid #545149;
  resize: none;
}
#validation {
  height: auto;
  font-size: 1rem;
  width: 50%;
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}