@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
    align-items: flex-start;
  }
  main {
    margin: calc(120px + 10%) 0 0 0;
  }
  .user-details {
    width: 60%;
    margin: calc(120px + 10%) 15% 0 5%;
  }
}