.new-tweet {
  padding: 1rem 1rem 1rem 1rem;
}
.new-tweet button {
  font-family: 'Bungee', sans-serif;
  font-size: 32px;
  color: white;
  background-color: #4056A1;
  padding: .1em .2em .1em .2em;
  border: none;
}
.new-tweet button:hover {
  color: aqua;
}
.new-tweet form {
  display: flex;
  flex-direction: column;
}
.new-tweet form div {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
.new-tweet form textarea {
  border: none;
  background: none;
}
.new-tweet form hr {
  border: 2px solid #545149;
  width: 100%;
}
#special_div {
  display: flex;
  justify-content: space-between;
}
.counter {
  font-weight: 600;
}
.counter.red {
  color: red;
}