#validation {
  height: auto;
  font-size: 1rem;
  width: 50%;
  background-color: red;
  color: white;
  border: 0.1rem solid #FFFFFF;
  align-self: center;
  text-align: center;
  border-radius: 1rem;
}